@charset "UTF-8";



body {
    background-color: rgb(49, 49, 49);
    color: white;
    max-width: 1350px;
    margin: 0 auto;
    padding: 15px;
    font-family: 'poppinsregular';
}
header > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

menu {
    display: inline-block;
}
#burguer {
    display: none ;
    cursor: pointer;
    margin: 10px;
    color: white;
}
nav > div.mobile-menu{
    display: none;
}
li {
    display: inline-block;
    color: white;
    margin: 20px;
    text-decoration: none;
    cursor: pointer;
}
li:hover {
    color: rgb(96, 11, 146);
    transition: .5s;
    
}
button {
    background-color: transparent;
    border-radius: 26px;
    border: 2px solid rgb(132, 13, 201);
    padding: 15px;
    color: white;
    font-family: 'poppinsmedium';
    cursor: pointer;
}
button:hover {
    background-color: rgb(96, 11, 146);
    transition: .5s;
    border: 2px solid rgb(96, 11, 146);
}


nav > div.logo {
    flex-direction: column;

}
.logo > h1 {
    font-weight: 200;
    line-height: 10px;
    font-family: 'poppinsmedium';
    font-size: 2em;
}

.mobile-menu {
    display: none;
}
main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
h2 {
    font-size: 56px;
    line-height: 10px;
    font-family: 'poppinsmedium';
    width: 100%;
}
p {
    width: 70%;
}
span {
    color: rgb(132, 13, 201);
}
form {
    display: flex;
    flex-direction: column;
    width: 60%;
    
}
form > input {
    height: 40px;
    border: 1px solid blueviolet;
    border-radius: 20px;
    margin-bottom: 10px;
    text-indent: 10px;
}


input.enviar {
    height: 40px;
    width: 25%;
    border: none;
    border-radius: 40px;
    color: white;
    background-color: rgb(132, 13, 201) ;
    cursor: pointer;
}

input.enviar:hover {
    background-color: rgb(96, 11, 146);
    transition: .5s;
}

